.colombia-headlines {
    background-image: url('../pics/Colombia/Colombia.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 40px;
} 

.cities {
    margin-left: 30%;
}